@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
body {
    height: 100%;
    font-family:  cursive;
   
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #f3218a;
    animation: 2s preloader 0.5s;
    animation-fill-mode:forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes preloader {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
     
    }
}
.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2e97e8+0,f3218a+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left, rgba(46, 151, 232, 0.5) 0%, rgba(243, 33, 138, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(46, 151, 232, 0.5) 0%, rgba(243, 33, 138, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(46, 151, 232, 0.5) 0%, rgba(243, 33, 138, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#802e97e8', endColorstr='#80f3218a', GradientType=1);
    /* IE6-9 */
}

.header_body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_logo {
    width: 60px;
    height: 60px;
    overflow: hidden;

   
}

    .header_logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.header_list {
    display: flex;
    align-items: center;
}

    .header_list li {
        list-style: none;
    }

.header_list li:hover {
    transform: translatey(3px);
    box-shadow: none;
    transition: all 0.2s ease 0s;
}

    li:hover .header_link {
        color: #ddd;
    }

.header_link {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    margin-left: 60px;
    font-family: cursive;
}
.login {
    font-family:  cursive;
    color: #fff;
    border-radius: 2px 0 0 2px;
    padding: 10px;
    display: inline-block;
    background-color: #f3218a;
    border-radius:10px;
}

.signup {
    font-family: cursive;
    color: #fff;
    border-radius: 2px 0 0 2px;
    padding: 10px;
    display: inline-block;
    background-color: #f3218a;
}
    .signup:hover {
        transform: translatey(3px);
        box-shadow: none;
        transition: all 0.2s ease 0s;
    }

.login:hover {
    transform: translatey(3px);
    box-shadow: none;
    transition: all 0.2s ease 0s;
}


