@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


html,
body {
    height: 100%;
    font-family:  cursive;

}

.background__image {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(1px);
    opacity: 0.8;
}
 

.welcome_block {
    width: 100%;
    height: auto;
    margin-top: 80px;

}


h1 {
    text-align: center;
    font-family: 'Virbur', cursive;
    font-size: 34px;
    font-weight: 600;
    padding-top: 40px;
}

.myquest {
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.myquest__content {
    width: 100%;
    padding-top: 40px;
    display: flex;
    margin-bottom: 50px;

}

.myquest_leftblock,
.myquest_rightblock,
.myquest_rightblock_2,
.myquest_rightblock_3 {
    width: 24%;

}

.myquest_rightblock,
.myquest_rightblock_2,
.myquest_rightblock_3 {
    margin-left: 1%;
}


.myphoto {
    margin-top: 20px;
    padding-top: 56%;
    width: 150px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.myphoto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text1 {
    font-size: 18px;
    font-weight: 500;
}


.Avatar,
.Name,
.Surname,
.Phone,
.Gen,
.Age,
.Country,
.Region,
.City,
.About,
.Instagram,
.Telegram,
.ContactEmail,
.Facebook {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
.text_about {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-align: justify;
    letter-spacing: 1px;
}

.block_row {

    margin: 40px -10px 20px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.block_column {
    width: 32%;
    position: relative;
    margin: 0 1% 10px 0;
}

.block_item {
    width: 100%;
    position: relative;
    padding-top: 56%;
    border-radius: 20%;
    overflow: hidden;
    cursor: zoom-in;
}

.block_item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
._active__photo {
    transform: scale(0.6);
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    border-radius: 0;
}

.text_2 {
    margin-top: 10px;
}

.Photos_name {
    text-align: center;
    margin-top: 20px;
}

.button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-family: 'Virbur', cursive;
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
    text-align: center;
    width: auto;
    top: 50%;
    left: 36.3%;
    cursor:pointer;
}
#fav {
    left: 43%;
}

.button_line {
    position: absolute;
    display: block;
}

.button_line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
}

.button:hover .button_line--top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button_line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, #ff6ec4, #7873f5);
}

.button:hover .button_line--bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button_line--left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, #ff6ec4, #7873f5);
}

.button:hover .button_line--left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.button_line--right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, #ff6ec4, #7873f5);
}

.button:hover .button_line--right {
    top: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.button:hover {
    box-shadow: 0 0 10px #f3218a, 0 0 40px #f3218a, 0 0 80px #f3218a;
    background-color: #f3218a;
    color: rgb(255, 255, 255);
    transition-delay: 0.7s;
}

.button_block {
    width: 100%;
    margin-top: 40px;

}
h2 {
    margin-top: 80px;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    font-weight: 600;
}

.view__photo {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1100;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


._active__view__photo {
    display: flex;
}

.view__photo__content {
    height: 100%;
    width: 100%;
}

    .view__photo__content img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }