@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


html,
body {
    height: 100%;
    font-family: 'Virbur', cursive;
    font-weight: 500;
}

.background__image {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}



nav {
    margin-right: 60px;
}

.welcome_block {
    font-family: 'Playfair Display';
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-top: 150px;


}

.search_block {
    padding: 20px;
    background: #f3218a;
    margin-top: 50px;
    position: relative;
}

.filter_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

select,
button {
    height: 40px;
    width: auto;
    background: #9a12b3;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.flex_block_age {
    display: flex;
    justify-content: space-around;
    width: 130px;
}

.fa-solid.fa-magnifying-glass {
    margin: 5px 0 0 5px;
}


.second_block {
    margin-top: 50px;
    width: 100%;
    height: 40px;
}

.member_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px 0 30px;

}

.all__member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text_1 {
    font-family: 'Playfair Display';
    height: 40px;
    width: 100px;
    background: #9a12b3;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px 0px 0px 5px;
}

.text_2 {
    font-family: 'Playfair Display';
    height: 40px;
    width: 100px;
    background: #f3218a;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    border-radius: 0px 5px 5px 0px;
}

.row {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user_block {
    background: #f3218a;
    width: 240px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.user_block:hover {
    background: #9a12b3;
    cursor: pointer;
}

.photo_block {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: white;
   
}

.photo_block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.user_info {
    text-align: center;
    font-size: 24px;
    font-family: 'Playfair Display';
    margin-top: 40px;
}