@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Regist";
    Layout = "_Layout";
}

@model MYL.ViewModels.UserRegistration
    <link href="~/css/nulstyle.css" rel="stylesheet" />
    <link href="~/css/Regist.css" rel="stylesheet" />



    <div class="background__image"><img src="~/img/two-people-in-the-sunset-free-photo.jpg" alt=""></div>
    <div class="begin">
        <form asp-action="Regist" asp-controller="Regist">
            <div class="regist-content">
                <div class="head-form">
                    <h1>Sign Up</h1>
                    <p>Sign up and find your love!</p>
                </div>
                <div class="inputs">
                    <div class="Email">
                        <i class="fa-solid fa-at"></i>
                        <input type="text" asp-for="Email" placeholder="Email" name="Email" autocomplete="off">
                    </div>
                    <span asp-validation-for="Email"></span>
                    <div class="UserName">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" asp-for="Username" placeholder="User name" autocomplete="off">
                    </div>
                    <span asp-validation-for="Username"></span>
                    <div class="Password">
                        <i class="fa-solid fa-key"></i>
                        <input type="text" asp-for="Password" placeholder="Password" name="password" autocomplete="off">
                    </div>
                    <span asp-validation-for="Password"></span>
                    <div class="PasswordConfirm">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" asp-for="PasswordConfirm" placeholder="Password Confirm" name="PasswordConfirm" autocomplete="off">
                    </div>
                    <span asp-validation-for="PasswordConfirm"> </span>
                </div>
                <div class="other">
                    <button class="btn submits sign-up" type="submit"> Sign Up </button>

                </div>
            </div>
        </form>
    </div>



        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
