@using MYL.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Regist";
    Layout = "_Layout";
}
<link href="~/css/nulstyle.css" rel="stylesheet" />
<link href="~/css/Search.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<div class="background__image">
    <img src="~/img/background-g58d1214df_1920.jpg">
</div>
<div class="main_block">
    <div class="welcome_block">
        <h1> Dating Members</h1>
    </div>
    <div class="search_block">
        <div class="filter_block">
            <div class="gender">
                <select class="search_gender">
                    <option value=""> I am</option>
                    <option value="Male"> Male</option>
                    <option value="Female"> Female</option>
                </select>
            </div>
            <div class="person">
                <select class="search__looking__gender">
                    <option value=""> Looking for</option>
                    <option value="Male"> Male</option>
                    <option value="Female"> Female</option>
                </select>
            </div>
            <div class="age">
                <div class="flex_block_age">
                    <div class="age_select">
                        <select class="age_start" id="age">
                            <option value="18"> 18</option>
                            <option value="20"> 20</option>
                            <option value="25"> 25</option>
                            <option value="30"> 30</option>
                            <option value="35"> 35</option>
                            <option value="40"> 40</option>
                            <option value="45"> 45</option>
                            <option value="50"> 50</option>
                            <option value="55"> 55</option>
                            <option value="60"> 60</option>
                            <option value="65"> 65</option>
                            <option value="70"> 70</option>
                        </select>
                    </div>
                    <div class="age_select">
                        <select class="age_end" id="age_two">
                            <option value="18"> 18</option>
                            <option value="20"> 20</option>
                            <option value="25"> 25</option>
                            <option value="30"> 30</option>
                            <option selected value="35"> 35</option>
                            <option value="40"> 40</option>
                            <option value="45"> 45</option>
                            <option value="50"> 50</option>
                            <option value="55"> 55</option>
                            <option value="60"> 60</option>
                            <option value="65"> 65</option>
                            <option value="70"> 70</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="country">
                <select class="search__country">
                    <option value=""> Choose your country</option>
                    <option value="Brazil"> Brazil</option>
                    <option value="USA"> USA</option>
                    <option value="Ukraine"> Ukraine</option>
                    <option value="UK"> UK</option>
                    <option value="Japan"> Japan</option>
                    <option value="Turkey"> Turkey</option>
                    <option value="Poland"> Poland</option>
                    <option value="Latvia"> Latvia</option>
                    <option value="Litva"> Litva</option>
                    <option value="Spain"> Spain</option>
                    <option value="France"> France</option>
                    <option value="China"> China</option>
                    <option value="Finland"> Finland</option>
                    <option value="Newzeland"> Newzeland</option>
                    <option value="Austria"> Austria</option>
                </select>
            </div>
            <button onclick="searchLove()" class="button_smbt">
                Search Now
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    <div class="second_block">
        <div class="member_info">
            <div class="all__member">
                <div class="text_1"> All Members</div>
                <div class="text_2">
           @ViewBag.CountUser  
                </div>
            </div>
            <div class="member__time__regist">
                <div class="custom-select">
                    <select class="select_regist">
                        <option value="NewDesc"> Newest Registered</option>
                        <option value="NewAsc Registered"> Oldest Registered</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
           
        </div>
    </div>
</div>

<script src="~/js/searchLove.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>