@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Questionary";
    Layout = "_Layout";
}
@{ string photos = String.IsNullOrEmpty(ViewBag.IsFileValid) ? "Добавьте свои актуальные фото" : ViewBag.IsFileValid; }


@model MYL.Models.Questionary
<link href="~/css/nulstyle.css" rel="stylesheet" />
<link href="~/css/Quest.css" rel="stylesheet" />
<form asp-action="Quest" asp-controller="Questionary" method="post" enctype="multipart/form-data">
    <div class="background__image">
        <img src="~/img/background-g58d1214df_1920.jpg">
    </div>
    <div class="welcome_block">
        <h1>My Form</h1>
    </div>
    <div class="quest">
        <div class="quest__conetnt">
            <span class="display__text">Add your avatar</span>
            <div class="file-input">
                <input type="file" name="avatar" id="file" class="file" accept=".jpg, .jpeg, .png, .webp">
                <label for="file" class="file-name">
                    Сhoose your avatar
                </label>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your name</span>
                <input type="text" asp-for="Name" placeholder="First name" autocomplete="off">
                <span class="validation" asp-validation-for="Name"> </span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your surname</span>
                <input type="text" asp-for="Surname" name="Surname" placeholder="Surname" autocomplete="off">
                <span class="validation" asp-validation-for="Surname"> </span>
            </div>
            <div class="string_name">
                <span class="display__text">Select your gen</span>
                <select asp-for="Gen" name="Gen">
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>
                </select>
                <span class="validation" asp-validation-for="Gen"></span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your age</span>
                <input type="text" asp-for="Age" name="Age" placeholder="Age" autocomplete="off" required>
                <span class="validation" asp-validation-for="Age"></span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your mobile phone</span>
                <input type="text" asp-for="Phone" name="Phone" placeholder="Phone" autocomplete="off" required>
                <span class="validation" asp-validation-for="Phone"></span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your country</span>
                <input type="text" asp-for="Country" name="Country" placeholder="Country" autocomplete="off">
                <span class="validation" asp-validation-for="Country"> </span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your region</span>
                <input type="text" asp-for="Region" name="Region" placeholder="Region" autocomplete="off">
                <span class="validation" asp-validation-for="Region"> </span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your city</span>
                <input type="text" asp-for="City" name="City" placeholder="City" autocomplete="off">
                <span class="validation" asp-validation-for="City"></span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your Instagram</span>
                <input type="text" asp-for="Instagram" name="Instagram" placeholder="Instagram" autocomplete="off">
                <span class="validation"  </span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your Telegram</span>
                <input type="text" asp-for="Telegram" name="Telegram" placeholder="Telegram" autocomplete="off">
                <span class="validation"  </span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your Facebook</span>
                <input type="text" asp-for="Facebook" name="Facebook" placeholder="Facebook" autocomplete="off">
                <span class="validation"  </span>
            </div>
            <div class="string_name">
                <span class="display__text">Enter your contact Email</span>
                <input type="text" asp-for="EmailContact" name="EmailContact" placeholder="EmailContact" autocomplete="off">
                <span class="validation"  </span>
            </div>
            <div class="string_name">
                <span class="display__text">Write something about yourself</span>
                <textarea asp-for="AboutYourself" name="AboutYourself" placeholder="..." autocomplete="off"></textarea>
                <span class="validation" asp-validation-for="AboutYourself"> </span>
            </div>
            <span class="display__text">@photos</span>
            <div class="file-input">
                <input type="file" name="uploadedPhotos" multiple="true" id="filePhotos" class="file" accept=".jpg, .jpeg, .png, .webp">
                <label for="filePhotos" class="file-name">
                    Choose photos
                </label>
            </div>

            <button class="button" type="submit">
                <span class="button_line button_line--top"></span>
                <span class="button_line button_line--right"></span>
                <span class="button_line button_line--bottom"></span>
                <span class="button_line button_line--left"></span>
                <p>Create form</p>
            </button>
        </div>
        </div>

</form>

<script src="~/js/Quest.js"></script>

