@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "LoginToAccount";
    Layout = "_Layout";
}
@model MYL.ViewModels.UserLogin

<link href="~/css/nulstyle.css" rel="stylesheet" />
<link href="~/css/Login.css" rel="stylesheet" />
<div class="background__image">
    <img src="~/img/16846.jpg">
</div>
<div class="begin">
    <form asp-action="LoginToAccount" asp-controller="LoginToAccount">
        <div class="main-content">
            <div class="head-form">
                <h1>LogIn</h1>
            </div>
            <div class="inputs">
                <div class="UserName">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" asp-for="Username" placeholder="User name">
                </div>
                <div class="Password">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" asp-for="Password"  name="password" placeholder="Password" id="pwd">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <input type="submit" name="name" value="ВОЙТИ" />
            </div>
            <div class="other">
                <a asp-action="Regist" asp-controller="Regist" class="sign-up">
                  Sign Up 
                </a>
                    <button class="pas_forgot">Forgot Password</button>
</div>
        </div>
    </form>
</div>

<script src="~/js/Login.js"></script>

