@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_Layout";
}
@model MYL.Models.User
<link href="~/css/nulstyle.css" rel="stylesheet" />
<link href="~/css/ChangePassword.css" rel="stylesheet" />
 <div class="background__image"><img src="~/img/background-g58d1214df_1920.jpg">
    </div>
    <div class="welcome_block">
        <h1>Change Password</h1>
    </div>
    <div class="myedit">
      <form asp-action="ChangeUserPassword" asp-controller="ChangePassword" method="post" >
        <div class="myedit_content">
            <div class="Email"> Email:
                <input type="text" asp-for="Email"  placeholder="Entet your email">
            </div>
            <div class="Password"> New Password:
                <input type="text" asp-for="Password"  placeholder="Enter your new password">
            </div>
            <div class="ConfirmPassword">Confirm Password:
                <input type="text" asp-for="PasswordConfirm"  placeholder="Confirm your password">
            </div>
            <div class="button_block">
                <button type="submit" class="button">
                    <span class="button_line button_line--top"></span>
                    <span class="button_line button_line--right"></span>
                    <span class="button_line button_line--bottom"></span>
                    <span class="button_line button_line--left"></span>
                    <p>Save</p>
               </button>
            </div>
        </div>
       </form>
    </div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


