@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/nulstyle.css" rel="stylesheet" />
    <link href="~/css/Layout.css" rel="stylesheet" />
    <link href="~/css/Loading.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="preloader">
        <div class="cssload-main">
            <div class="cssload-heart">
                <span class="cssload-heartL"></span>
                <span class="cssload-heartR"></span>
                <span class="cssload-square"></span>
            </div>
            <div class="cssload-shadow"></div>
        </div>
    </div>
    @RenderBody()
    <header class="header">
        <div class="container">
            <div class="header_body">
                <a asp-action="Index" asp-controller="Home" class="header_logo">
                    <img src="~/img/a5f99949-7f60-4873-b33f-5f54342fa1cb.png" alt="">
                </a>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li>
                            <a asp-action="Index" asp-controller="Home" class="header_link">Home</a>
                        </li>
                        @if (ViewBag.Account is null)
                        {


                            <li>
                                <a asp-action="AboutUs" asp-controller="About" class="header_link">About</a>
                            </li>
                            <li>
                                <a asp-action="Contact" asp-controller="Contact" class="header_link">Contact</a>
                            </li>
                            <li>
                                <a asp-action="LoginToAccount" asp-controller="LoginToAccount" class="login header_link">
                                    <i class="fa-solid fa-right-to-bracket"></i>
                                    <span> LogIn</span>
                                </a>

                            </li>
                            <li>
                                <a asp-action="Regist" asp-controller="Regist" class="login header_link">
                                    <i class="fa-solid fa-user-plus"></i>
                                    <span> Sign Up</span>
                                </a>

                            </li>
                        }
                        else
                        {

                            <li>
                                <a asp-controller="MyQuestionary" asp-action="MyQuestionary" class="header_link">My profile</a>
                            </li>
                            <li>
                                <a asp-controller="SearchLove" asp-action="SearchLove" class="header_link">Search</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ExitAccount" class="header_link">Exit</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script src="https://kit.fontawesome.com/7bec2b2bb6.js" crossorigin="anonymous"></script>
    <script src="~/js/loader.js"></script>

</body>
</html>