@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AboutUs";
    Layout = "_Layout";
}
    <link href="~/css/nulstyle.css" rel="stylesheet" />
    <link href="~/css/About.css" rel="stylesheet" />
    <div class="background_image">
        <img src="~/img/background-g58d1214df_1920.jpg">
        <div class="background_image_dark">
        </div>
    </div>
    <span class="text2 WelcomeText">About </span>
    <div class="content">
        <div class="container">
            <div class="text1 container__flex">
                <div class="container__flex__item">
                    <div class="container__flex__item__block">
                        <img src="~/img/brilliant_PNG22.png" alt="">
                        <div class="item__block__title"><span>Achievments</span></div>
                        <div class="item__block__text"><span>Over 1000 happy couples from all over the world </span></div>
                    </div>
                    <div class="container__flex__item__block">
                        <img src="~/img/png-transparent-bulb-light-lamp-electric-electric-bulb-electricity-energy-light-bulb-thumbnail (1).png">
                        <div class="item__block__title"><span>Strategy</span></div>
                        <div class="item__block__text">
                            <span>

                                Maximum development of the site and adaptation of the site under
                                foreign users from different parts of the world
                            </span>
                        </div>
                    </div>

                    <div class="container__flex__item__block">
                        <img src="~/img/png-transparent-coin-business-finance-loan-payment-coin-saving-gold-coin-payment-thumbnail.png">
                        <div class="item__block__title">
                            <span>Support the project</span>
                        </div>
                        <div class="item__block__text">
                            <span>
                                The donation system is completely disabled on the site, you can
                                support the developers by transferring money to the card 4111 1111 1132 4111
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
